@media print {
    .wnd-page,body {
        height: auto!important;
        min-height: 0!important
    }

    body,h1,h2,h3,h4,h5,p {
        color: #000!important;
        background: #fff!important
    }

    * {
        background-image: none!important;
        background-color: transparent!important;
        transition: none!important
    }

    .l-h,.l-m,.l-w,.section-wrapper,.section-wrapper-content,.wnd-page {
        display: block!important
    }

    b,em,strong {
        display: inline!important
    }

    a,a:visited {
        color: #000!important
    }

    .button-01 a,.button-01 a:visited,.button-02 a,.button-02 a:visited,.button-03 a,.button-03 a:visited,.file-01 a,.file-01 a:visited,.file-02 a,.file-02 a:visited,.file-03 a,.file-03 a:visited {
        border-color: #000!important
    }

    embed {
        color: #000!important
    }

    #wrapper {
        max-width: 87.5rem!important
    }

    #menu,#menu-mobile,#menu-overlay,#menublock,.back-to-top,.cart,.lang-select,.pswp,.section-bg-overlay,head,script,video {
        display: none!important;
        visibility: hidden!important;
        height: 0!important;
        width: 0!important;
        overflow: hidden!important
    }

    .section-bg-layer {
        background-color: #fff!important;
        background-image: none!important
    }

    .section-inner {
        margin: 0!important;
        padding: .625rem 0 0!important;
        min-height: auto!important
    }

    .claim-table {
        min-width: 6.25rem
    }

    .claim-table,.claim-table .subclaim,.claim-table h1 {
        text-align: left!important
    }

    .claim-table .subclaim span,.claim-table h1 span {
        padding-left: 0!important
    }

    .claim-table .claim-bg-inv>span>span,.claim-table .claim-bg>span>span,.claim-table .claim-color-alpha>span>span,.claim-table .claim-color-inv>span>span,.claim-table .claim-color-text>span>span,.claim-table .claim-color>span>span,.claim-table .claim-default-inv>span>span,.claim-table .claim-default>span>span,.claim-table .claim-gray>span>span,.header-claim .claim-bg-inv>span>span,.header-claim .claim-bg>span>span,.header-claim .claim-color-alpha>span>span,.header-claim .claim-color-inv>span>span,.header-claim .claim-color-text>span>span,.header-claim .claim-color>span>span,.header-claim .claim-default-inv>span>span,.header-claim .claim-default>span>span,.header-claim .claim-gray>span>span,.heading-table .claim-bg-inv>span>span,.heading-table .claim-bg>span>span,.heading-table .claim-color-alpha>span>span,.heading-table .claim-color-inv>span>span,.heading-table .claim-color-text>span>span,.heading-table .claim-color>span>span,.heading-table .claim-default-inv>span>span,.heading-table .claim-default>span>span,.heading-table .claim-gray>span>span {
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }

    .claim-table .claim-borders>span>span,.header-claim .claim-borders>span>span,.heading-table .claim-borders>span>span {
        color: #000!important;
        border-top-color: #000!important;
        border-bottom-color: #000!important
    }

    .claim-table .section-inner,.header-claim .section-inner,.heading-table .section-inner {
        padding: 0!important
    }

    h1>span>span>span {
        box-shadow: none!important;
        text-shadow: none!important
    }

    .header {
        min-height: auto!important;
        border-bottom: 1px solid #000!important
    }

    .header,.header .header-wrapper {
        position: relative!important
    }

    .header .header-arrow {
        display: none!important
    }

    .header .header-claim,.header .nav-line,.header .navline {
        position: relative!important;
        top: auto!important;
        left: auto!important;
        right: auto!important;
        bottom: auto!important;
        text-align: left!important;
        color: #000!important;
        background: none!important;
        padding-top: 0!important;
        padding-bottom: 0!important;
        transform: translate(0)!important
    }

    #main .header-01+.section {
        margin-top: 0!important
    }

    #main .header-01.design-01 .header-gradient,#main .header-01.design-02 .header-gradient {
        display: none
    }

    #main .header-01.design-01 {
        margin-top: 0!important
    }

    #main .header-01.design-01,#main .header-01.design-01 .header-content {
        height: auto!important;
        min-height: auto!important
    }

    #main .header-01.design-01 .header-claim .claim-borders>span {
        border-color: #000!important
    }

    #main .header-01.design-02 .claim-content {
        height: auto!important
    }

    #main .header-01.design-02 .header-claim-inner .claim-borders>span {
        border-color: #000!important
    }

    #main .header-01.design-02 .header-claim-inner .claim-borders>span>span {
        color: #000!important
    }

    .t-32 .b-text h1 {
        padding-bottom: .625rem!important
    }

    .t-32 .b-text h1:after {
        display: none!important
    }

    .t-32 .b-text h3 {
        margin-top: 0!important
    }

    .header-01 .section-claim h1 {
        text-align: center!important
    }

    .header-01 .nav-line {
        background: #fff!important;
        position: relative!important;
        top: auto!important;
        left: auto!important;
        bottom: auto!important
    }

    .header.fullscreen {
        height: auto!important;
        max-height: 100%!important
    }

    .header-09 .header-content {
        min-height: auto!important
    }

    .section-wrapper .fullscreen-all {
        min-height: auto
    }

    .section-media {
        display: none!important
    }

    .logo {
        max-width: 100%!important;
        overflow: visible!important
    }

    .logo .embed-content,.logo .logo-content {
        text-shadow: none!important;
        display: table!important
    }

    .logo .logo-content a {
        display: table!important;
        text-decoration: none!important
    }

    .logo .embed-content-cell,.logo .text-content-outer {
        display: table-cell!important
    }

    .logo .text-content {
        font-size: 22px!important;
        line-height: 55px!important
    }

    .logo .text-content,.logo .text-content font,.logo embed {
        color: #000!important
    }

    .logo embed {
        max-height: 2.5rem!important
    }

    .sc-b,.sc-beige,.sc-black,.sc-blue,.sc-cyan,.sc-d,.sc-dgray,.sc-gracier,.sc-green,.sc-lpink,.sc-m,.sc-mi,.sc-mint,.sc-ml,.sc-orange,.sc-pink,.sc-purple,.sc-red,.sc-w,.section-beige,.section-black,.section-black-blue,.section-black-red,.section-blue,.section-cyan,.section-darkslateblue,.section-gray,.section-green,.section-media,.section-media-light,.section-mint,.section-none,.section-orange,.section-pink,.section-purple,.section-red,.section-white,.section-white-blue,.section-white-red,.wsection-black,.wsection-darkgray,.wsection-gray,.wsection-media,.wsection-media-inverse,.wsection-media-light,.wsection-white {
        color: #000!important
    }

    .button-content a:link[href^="http://"]:after,.button-content a[href^="http://"]:visited:after,.text-content a:link[href^="http://"]:after,.text-content a[href^="http://"]:visited:after {
        content: " (" attr(href) ") "
    }

    .button-content a[href$=".gif"]:after,.button-content a[href$=".jpeg"]:after,.button-content a[href$=".jpg"]:after,.button-content a[href$=".png"]:after,.text-content a[href$=".gif"]:after,.text-content a[href$=".jpeg"]:after,.text-content a[href$=".jpg"]:after,.text-content a[href$=".png"]:after {
        content: " (" attr(href) ") ";
        display: none
    }

    .button-content a[href^="#"]:after,.button-content a[href^="javascript:"]:after,.text-content a[href^="#"]:after,.text-content a[href^="javascript:"]:after {
        content: ""
    }

    #wnd_fe_footer,.footer-line {
        border-top: 1px solid #000!important
    }

    #wnd_fe_footer {
        max-width: 87.5rem!important
    }

    #wnd_fe_footer_left,#wnd_fe_footer_left:visited {
        margin-left: .625rem!important
    }

    #wnd_fe_footer_left:before,#wnd_fe_footer_left:visited:before {
        content: "www.webnode.com  "
    }

    #wnd_fe_footer_right {
        display: none
    }

    .clients-01 .mt-column {
        width: 20%!important;
        height: auto!important
    }

    .blog .item-media {
        display: none!important
    }

    .eshop-grid-nature .item,.eshop-grid-square .item {
        width: 33.33%!important
    }

    .eshop-slider {
        padding: 0 1.5625rem!important
    }

    .arrow,.eshop-slider .item-media {
        display: none!important
    }

    .eshop-filter-category {
        padding-bottom: 0!important
    }

    .footer-content .content {
        padding: 0!important
    }

    .media-01,.pager {
        display: none!important
    }

    .heading-01 .heading-table {
        height: auto!important
    }

    .heading-02 .content {
        padding: 0!important
    }

    .heading-02 .heading-table {
        height: auto!important
    }

    .wnd-free-flag style,.wnd-free-stripe style,.wnd-user-bar {
        display: none!important
    }
}
