body{
    background:#1d1d1d;
    color:white;
    font-family:Arial;
}


.weather{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    row-gap:10px;
    column-gap:10px;
    width:400px;
        height:200px;
}
.weather1{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    row-gap:10px;
    column-gap:10px;
    width:200px;
    height:200px;
    max-width: 62.5rem
}

.item{
    background:#333;
    padding:100px;
    border-radius:10px;
    text-align:center;
  
}

.item h3{
    font-size:20px;
    margin:0 0 3px;
}

.item i{

    
    margin-bottom:15px;
}
