<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="鵝鑾鼻燈塔介紹.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>

<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="鵝鑾鼻燈塔園區導覽.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>